# Xcode
xcuserdata/
*.xcuserstate
*.hmap

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
*.DS_Store

# Claude
CLAUDE.md
.claude/
